/* Product Nav-bar */

body{
    width: 70%;
    left: 15%;
    position: relative;
}

#left-nav-mobile{
    display: none;
}

#Nav-list{
    list-style: none;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 53%;
    /* left: 13%; */
}

#Nav-bar{
    border-bottom: 1px solid lightgray;
}

#right-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: -5%;
}
#user-icon img{
    border-radius: 50%;
    width:3rem;
    height:3rem;
    margin-bottom: 35%;
}
#logo img{
    margin-bottom: -14%;
}

.nav-item{
    display:inline-block;
    font-family: sans-serif;
    text-transform: capitalize;
    margin: 15px 18px 15px 2px;
    font-size: 0.8rem;
    color: gray;
}

#cart-icon{
    margin-right: 5%;
}
#cart-icon img{
    margin-bottom: -70%;
}
@media  screen and (max-width:500px) {
    body{
        width: 100%;
        position: static;
        min-width:400px;
        margin: 0px;
    }
    #left-nav-mobile{
        display: flex;
        align-self: center;
        align-items: flex-end;

    }
    #sneaker-logo{
        margin-left: 10%;
    }
    #Nav-list{
        display: none;
    }
    #Nav-bar{
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    #right-nav{
        display: flex;
        /* margin-left: -55%; */
        align-self: center;
        align-items: center;
    }
    #user-icon img{
        border-radius: 50%;
        width:3rem;
        height:3rem;
        margin-bottom: 22%;
        
    }
    #user-icon{
        margin-top:63%
    }
    #cart-icon{
        margin-right: 86%;
    }
    #menu-icon img{
        margin-left: 22px;
    }
    
}



/* Product info */


#product-preview{
    width: 60%;
}

#product-preview-mobile{
    display: none;
}

#preview-image img{
    left: 7%;
    width: 60%;
    position: relative;
    border-radius: 3%;
    margin-top: 12%;

}

#thumbnail-flex{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 7%;
    justify-content: space-between;
    width: 60%;
    margin-top: 4%;
}

#thumbnail-flex img{
    border-radius: 14%;
    width: 22%;
}

#thumbnail-flex img:hover{
    border: 3px solid #d96d2c;
    opacity: 40%;
}

/* product-details */

#product-info{
    display: flex;
    flex-wrap: wrap;
}

#product-detail{
    width: 40%;
    margin-top: 9%;
    margin-left: -8%;
}

#prev-price{
    margin-top: -4%;
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: 600;
    color: gray;
    opacity:0.5;
    text-decoration-line: line-through;
}
#product-detail #info-para{
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
    width: 80%;
    line-height: 20px;
    margin-top: 34px;
}
#quantity-bar{
    display: flex;
    width: 35%;
    flex-wrap: wrap;
    background-color: aliceblue;
    height: 3rem;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
}
#add-cart{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 3rem;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: #d96d2c;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    align-items: flex-end;
    align-content: center;
    margin-left: 12px;
}
@media screen and (max-width:500px){
    #product-preview{
        display: none;
    }
    #product-info{
        flex-direction: column;
    }
    #product-preview-mobile{
        display: flex;
        

    }
    #preview-image-mobile img{
        width: 100%;
    }
    #preview-image-btn{
        display: flex;
        position: absolute;
        top: 32%;
    }
    #prev{
        border: none;
        background-color: aliceblue;
        border-radius: 50%;
        /* position: absolute; */
        margin-left: 30px;
        font-size: 26px;
    }
    #next{
        border: none;
        background-color: aliceblue;
        border-radius: 50%;
        /* position: absolute; */
        margin-left: 389px;
        font-size: 26px;
    }

    #product-detail{
        width: 100%;
        margin-top: 8%;
        margin-left: 0%;
        padding-left: 5%;
        box-sizing: border-box;
    }

    #product-detail #info-para{
        width:100%;
    }

    #prev-price{
        margin-top: -9%;
        margin-left:69%;
    }
    #quantity-bar{
        width: 95%;
    }
    #add-cart{
        width: 95%;
        margin-left: 0;
        margin-top: 3%;
    }
}


#product-detail h4{
    font-family: sans-serif;
    color: #d96d2c;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}
#product-detail h1{
    font-family: sans-serif;
    font-weight: 800;
    width: 70%;
    line-height: 38px;
}

#product-detail #price{
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 51px;
}
#product-detail #discount{
    color: #d96d2c;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    font-family: sans-serif;
    background-color: #feefe2;
    padding: 2px 5px;
    border-radius: 4px;
}


#minus{
    border: none;
    background-color: aliceblue;
}
#minus:hover{
    background-color:#feefe2;
}
#plus{
    border: none;
    background-color: aliceblue;
}
#plus:hover{
    background-color:#feefe2;
}

#add-cart span{
    font-family: sans-serif;
    font-size: 1rem;
    color: white;

}
#cart-btn{
    border: none;
    background-color: #d96d2c;
}
#cart-btn:hover{
    background-color:lightgrey;
}
#qb-and-cart{
    display: flex;
    flex-wrap:wrap;
    margin-top: 30px;
}


